* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

*:focus {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #f7f7f7;
}

h2 {
  font-weight: 400;
  font-size: 48px;
}

h4 {
  font-weight: 400;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #f7f7f7;
}

.container {
  max-width: 1440px;
  padding: 0 120px;
  margin: 0 auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo * {
  margin: 10px;
  text-transform: uppercase;
}

.logo h1 {
  font-weight: 400;
}

.button {
  padding: 10px 15px;
  background-color: transparent;
  color: #f7f7f7;
  border: 2px solid #cd6326;
  border-radius: 5px;
}

.button:hover {
  background-color: #cd6326;
}

.navigation-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list * {
  margin-left: 30px;
}

.button-colored {
  background-color: #cd6326;
  border: none;
}

.button-colored:hover {
  background-color: #E39128;
}

.button-search {
  background-color: transparent;
  border: none;
}

.header {
  background-image: url(./../assets/img/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-main {
  padding: 140px 0 140px;
}

.header .header-main h2 {
  color: #cd6326;
  margin-bottom: 70px;
}

.header .header-main p {
  max-width: 270px;
  line-height: 20px;
  margin-bottom: 50px;
}

.articles {
  background-color: #cccccc;
  padding-bottom: 100px;
}

.articles .articles-info {
  text-align: center;
  padding: 120px 0;
}

.articles h2 {
  color: #333333;
  margin-bottom: 20px;
}

.articles .sub-header {
  color: #666666;
  font-weight: 400;
  letter-spacing: 1px;
}

.articles .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles .slider .button-slider {
  height: 60px;
  background-color: transparent;
  border: none;
}

.articles .slider .slider-left {
  margin-right: 60px;
}

.articles .slider .slider-right {
  margin-left: 60px;
}

.articles .slider .slides {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.articles .slider .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 360px;
}

.articles .slider .slide .slide-sub-title {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  margin: 20px 0;
}

.articles .slider .slide-1 {
  background-image: url(../assets/img/latest1.jpg);
}

.articles .slider .slide-2 {
  background-image: url(../assets/img/latest2.jpg);
}

.articles .slider .slide-3 {
  background-image: url(../assets/img/latest3.jpg);
}

.subscribe {
  background-color: #cccccc;
  padding: 100px 0;
}

.subscribe h3 {
  color: #333333;
  font-weight: 400;
  font-size: 27px;
  line-height: 40px;
  text-align: center;
  padding-bottom: 50px;
}

.subscribe .form {
  text-align: center;
}

.subscribe .form .input {
  width: 600px;
  height: 50px;
  background-color: transparent;
  margin-right: -5px;
  border-radius: 5px 0 0 5px;
  font-size: 23px;
  padding: 0 5px;
  border: 1px solid #666666;
}

.subscribe .form .button {
  height: 50px;
  border-radius: 0 5px 5px 0;
  font-size: 23px;
}

.footer {
  background-image: url(../assets/img/footer-bg.jpg);
  padding: 140px 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social-media .social-media-item {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */